*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
}
canvas{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 20px;
    height: 10vh;
    width: 30vw;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}
#nav>img{
    width: 10%;
}
#nav>button{
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffcd6d;
    font-weight: 600;
}
#center-nav>a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
#page>h1{
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page>h4{
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 55%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    color: #565656;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}
#page1>h1{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}
#page1>h4{
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    white-space: nowrap;
    color: #565656;
}